<!DOCTYPE html>
<html xmlns:th "http://www.thymeleaf.org" xmlns:layout="http://ww.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{user/layout-user.html}">
<html lang="vi">

<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Tìm kiếm</title>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<!-- Thêm những dòng này vào phần <head> của tệp HTML của bạn -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" th:href="@{/css/style_search.css}">

</head>

<body>

	<div class="container" layout:fragment="content">
		<div class="row">
			<div class="col-md-8" >
				<div class="people-nearby" >
					<div th:if="${#lists.isEmpty(listTaiKhoan)}">
						<h3 style="margin-left: 20px;"><i>Rất tiếc, không tìm thấy kết quả :(</i></h3>
					</div>
					<th:block th:each="taiKhoan : ${listTaiKhoan}">
						<div class="nearby-user">
							<div class="row">
								<div class="col-md-2 col-sm-2">
									<img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="user"
										class="profile-photo-lg">
								</div>
								<div class="col-md-7 col-sm-7">
									<h5 class="nickname"><a href="#" class="profile-link" th:text="${taiKhoan.taiKhoan}"></a></h5>
									<p th:text="${taiKhoan.gioiTinh} == 'nam' ? 'Nam' : 'Nữ'"></p>
									<p class="text-muted" th:text="${taiKhoan.soLuongNguoiTheoDoi}"></p>
								</div>
								<div class="col-md-3 col-sm-3">
									<button id="btnTheoDoi" class="btn btn-primary pull-right" th:text="${taiKhoan.isfollowed} ? '✔Đã theo dõi' : 'Theo dõi'" th:disabled=true></button>
								</div>
							</div>
						</div>
					</th:block>
				</div>
			</div>
		</div>
	</div>


	<!-- jQuery và Bootstrap JS -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>

</html>