<html xmlns:th "http://www.thymeleaf.org" xmlns:layout="http://ww.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{user/layout-user.html}">

<head>
	<style>
		body {
			margin-top: 7%;
			margin-left: 23%;
			padding: 0;
			box-sizing: border-box;
			background-color: aliceblue;
		}
	</style>

</head>

<body>
	<section layout:fragment="content">
		<!-- Custom styles for this template -->
		<link href=@"{css/style_banbe.css}" rel="stylesheet">


		<main>

				
				<div class="container px-4 py-5" id="featured-3">
					<h2 class="pb-2 border-bottom">Những người bạn đã theo dõi</h2>
					<div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
						<div class="feature col" th:each="taikhoan : ${Listtaikhoan}">
							<img src="${taikhoan.avatarURl}" alt="" width="100" height="100" />
							<br>
							<br>
							<h2 th:text="${taikhoan.hoTen}" style="word-wrap: break-word;"></h2>
							<p th:text="'Nickname: ' + ${taikhoan.nickName}"></p>
							<button type="button" class="buttonTheoDoi">Theo dõi</button>
							<button type="button" class="buttonXoa">Xóa</button>
						</div>
						
					</div>


				
			</main>
			<script th:src="@{../assets/dist/js/bootstrap.bundle.min.js}"></script>
	</section>
</body>

</html>