@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body{
    /*font-family: 'Poppins', sans-serif;*/
    font-family: 'Montserrat', sans-serif;
    background: #ececec;
}

/*------------ Login container ------------*/

.box-area{
    margin-top: 105px;
    margin-left: 300px;
}
.container{
    margin-left: auto;
    margin-right: 0;
}
/*------------ Right box ------------*/
.tagged-user {
        color: #007bff !important; /* Màu xanh dương */
    }
.suggestions-container {
  position: absolute;
  background: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: none;
  z-index: 10;
  max-height: 150px;
  margin-bottom: -120px;
}

.suggestion-item {
  padding: 5px 10px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
 
}

.suggestion-item:last-child {
  border-bottom: none;
}

.suggestion-item:hover {
  background-color: #f0f0f0;
}
.like{
    cursor: pointer;
}
.liked{
    color:royalblue;
}
.count-like {
    font-size: smaller;
}
.count-comment {
    font-size: smaller;
    margin-left: 100px;
}
.right-box{
    padding: 0px 30px 40px 40px;
}
.right-box .skfjkk .lkt40 img {
    width: 40px;
    border-radius: 50%;
    height: 40px;
  }


.myavt h6{
    margin-left: 15px;
    margin-top: 5px;
}

.post__options {
    
    justify-content: space-evenly;
    font-size: medium;
    color: gray;
    cursor: pointer; 
    height: 70px;
  }
  .post__option p {
    margin-top: 4px;
     margin-left: 10px;
  }

  .post__option span {
    margin-top: 5px;
  }

  
  .post__option {
    justify-content: center;
    padding: 4px;
    flex: 1;
  }
  
  
  .post__option:hover {
    background-color: #eff2f5;
    border-radius: 10px;
  }

.listcmt {
    height: 400px; 
    background-color: rgba(0, 0, 0, 0.05);
}

.addcmt{
    width: 30;
  
}

.name{
    margin-left: 10px;
    margin-bottom: 5px;
    
}

/*------------ Custom Placeholder ------------*/

::placeholder{
    font-size: 16px;
}

.rounded-4{
    border-radius: 20px;
}
.rounded-5{
    border-radius: 30px;
}


/*------------ For small screens------------*/

@media only screen and (max-width: 500px){
    
     .box-area{
        margin: 0 10px;

     }
     .left-box{
        height: 100px;
        overflow: hidden;
     }
     .right-box{
        padding: 20px;
     }

}
