<html xmlns:th "http://www.thymeleaf.org" xmlns:layout="http://ww.ultraq.net.nz/thymeleaf/layout">

<body>
	<div th:fragment="leftbar">
		<!-- sidebar starts -->
		<div class="sidebar">
			<div class="sidebarRow">
				<img class="user__avatar"
					src="https://drive.google.com/uc?export=download&id=1iron5MdYdBe9ND8RTdzYN906Nubt7UOD" alt="" />
				<h5>Trần Văn Hưng</h5>

			</div>

			<div class="sidebarRow">
				<span class="material-icons"> home </span>
				<h4>Trang chủ</h4>
			</div>

			<div class="sidebarRow">
				<span class="material-icons"> people </span>
				<h4>Bạn bè</h4>
			</div>

			<div class="sidebarRow">
				<span class="material-icons">groups</span>
				<h4>Nhóm</h4>
			</div>

			<div class="sidebarRow">
				<span class="material-icons">collections_bookmark</span>
				<h4>Lưu bài đăng</h4>
			</div>

			<div class="sidebarRow">
				<span class="material-icons">wb_sunny</span>
				<h4>Khám phá</h4>
			</div>


			<div class="sidebarRow">
				<span class="material-icons">logout</span>
				<h4>Đăng xuất</h4>
			</div>
		</div>
		<!-- sidebar ends -->
	</div>

</body>

</html>