<html xmlns:th "http://www.thymeleaf.org" xmlns:layout="http://ww.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>ALOHCMUTE</title>
	<link rel="stylesheet" th:href="@{css/style_newfeed.css}" />
	<link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css}" rel="stylesheet"
		integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous" />
	<link th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}" rel="stylesheet" />
</head>

<body>
	<div th:fragment="left bar">
		<!-- sidebar starts -->
		<div class="sidebar">
			<div class="sidebarRow">
				<img class="user__avatar"
					src="https://drive.google.com/uc?export=download&id=1iron5MdYdBe9ND8RTdzYN906Nubt7UOD" alt="" />
				<h5>Trần Văn Hưng</h5>

			</div>

			<div class="sidebarRow">
				<span class="material-icons"> home </span>
				<h4>Trang chủ</h4>
			</div>

			<div class="sidebarRow">
				<span class="material-icons"> people </span>
				<h4>Bạn bè</h4>
			</div>

			<div class="sidebarRow">
				<span class="material-icons">groups</span>
				<h4>Nhóm</h4>
			</div>

			<div class="sidebarRow">
				<span class="material-icons">collections_bookmark</span>
				<h4>Lưu bài đăng</h4>
			</div>

			<div class="sidebarRow">
				<span class="material-icons">wb_sunny</span>
				<h4>Khám phá</h4>
			</div>


			<div class="sidebarRow">
				<span class="material-icons">logout</span>
				<h4>Đăng xuất</h4>
			</div>
		</div>
		<!-- sidebar ends -->
	</div>

</body>

</html>